@charset "utf-8";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "方正圆体" helvetica sans-serif;
}

#carousel {
  max-height: 400px;
  overflow: hidden;
}

.navbar-brand {
  width: 180px;
  text-indent: -9999px;
  background: url('../images/brand.png') no-repeat 50% 50%;
}

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 0;
}

.doc {
  font-size: 14px;
  margin: 0;
  &:before, &:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•";
  }
  a {
    color: rgba(0, 0, 0, 0.3);
  }
  a:hover {
    color: #666;
  }
}

.solution-brief {
  @include make-md-column(4);
  padding: 0 20px;
  &:nth-child(3n+1) {
    clear: both;
  }
  .left-img {
    @include make-md-column(4);
  }
  .content {
    @include make-md-column(8);
    h4 {
      margin-top: 0;
    }
  }
  .brief {
    overflow: hidden;
    height: 10em;
  }
}

#footer {
  height: 80px;
  padding: 20px 0;
  background-color: #f8f8f8;
  a {
    text-decoration: none;
    color: #777;
    &:hover {
      color: #666;
    }
  }
}
