<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-3"><a href="/pages/about">关于我们</a></div>
          <div class="col-md-3"><a href="/pages/contact">联系我们</a></div>
        </div>
      </div>
      <div class="col-md-8">
        <p class="pull-right muted credit">Copyright @ 莲雾科技 2013-2014</p>
      </div>
    </div>
  </div>
</div>
