---
pageable: true
per_page: 10
---
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="solution-brief">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="left-img" src="/images/brand.png">
            <div class="content">
              <h4>环境监控方案</h4>
              <p class="brief">
              通过3G/GPRS网络（或以太网）将采集数据上传至远程服务器，在服务器端进行数据存储、图形化显示、数据挖掘分析，用户可以远程监控被测区域的环境情况，并结合相应的专家系统辅助决策。
              </p>
              <p class="text-right">
              <span class="button"><a href="/solutions/environment-monitor">了解详情</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="solution-brief">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="left-img" src="/images/brand.png">
            <div class="content">
              <h4>能源监测方案</h4>
              <p class="brief">
              将企业的各能源消耗进行自动实时采集、分类处理、统计分析、趋势预测等，通过对能源的提供、转化、消耗的综合管理，对涉及能源使用、管理部门级生产工艺设备进行全过程监控管理，使企业管理者及时、全面了解企业用能情况，从而做出相应科学的措施，使企业用能管理达到“闭环”的效果。
              </p>
              <p class="text-right">
              <span class="button"><a href="/solutions/energy-monitor">了解详情</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="solution-brief">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="left-img" src="/images/brand.png">
            <div class="content">
              <h4>设备联网方案</h4>
              <p class="brief">
              面向所有生产制造企业，实现生产车间所有设备仪器的联网与集中管理、生产信息的自动采集与数据传输、设备运行状态及生产过程远程监控与自动控制。帮助企业实现精益生产、数字化生产、可视化车间、看板管理、智能制造等管理模式。
              </p>
              <p class="text-right">
              <span class="button"><a href="/solutions/device-access">了解详情</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="solution-brief">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="left-img" src="/images/brand.png">
            <div class="content">
              <h4>智慧农业方案</h4>
              <p class="brief">
              基于各种蔬菜的品种特性、生长状态及种植区域的气候特性和土壤特性等多因子控制，实现蔬菜全周期精细化控制，减小病虫害的发生概率和规模，提升蔬菜品质和产量，提高企业的经济效益。
              </p>
              <p class="text-right">
              <span class="button"><a href="/solutions/smart-agriculture">了解详情</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>经营范围</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>方案咨询</li>
          <li>系统集成</li>
          <li>技术培训</li>
          <li>数据分析</li>
        </ul>
      </div>
    </div>
  </div>
</div>
